@import "../../../../vendor/filament/filament/resources/css/theme.css";

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@theme {
    --color-main-primary: #343a40; /* Changed = to : */
    --color-main-secondary: #f5f6f9; /* Changed = to : */
}

/* .fi-sidebar {
    @apply bg-main-primary;
}

.fi-sidebar-item-icon,
.fi-sidebar-item-label {
    @apply text-white;
}

.fi-sidebar-item-btn:hover .fi-sidebar-item-icon,
.fi-sidebar-item-btn:hover .fi-sidebar-item-label {
    @apply text-black;
}

.fi-sidebar-item.fi-active,
.fi-sidebar-item.fi-active a {
    @apply bg-blue-600 text-white rounded-sm;
}

.fi-topbar-start {
    @apply bg-main-primary;
    width: 20rem;
    height: 4rem;
}

.fi-topbar-start a .fi-logo {
    @apply text-white;
}

.fi-topbar {
    @apply p-0;
}

.fi-ta-ctn {
    @apply rounded-sm;
}

.fi-ta-table th {
    @apply bg-blue-500 text-white border border-blue-500;
}

.fi-ta-table td {
    @apply border border-[#dee2e6];
}

.fi-ta-actions a {
    @apply border-2 p-1 pr-2 rounded-sm bg-blue-500 text-white;
}

.fi-ta-actions button {
    @apply border-2 p-1 pr-2 rounded-sm bg-red-500 text-white;
}

.fi-btn {
    @apply rounded-sm;
}

.fi-input-wrp {
    @apply rounded-sm;
}
.fi-section-header {
    @apply bg-blue-500 text-white;
}

.fi-section-header-heading {
    @apply text-white;
}

.fi-section {
    @apply rounded-sm;
} */

